
/*
https://avatars.githubusercontent.com/u/133021593?s=40&v=4
*/

body {
    margin: 0;
    padding: 0;
    background-color: #ececec;
    color: #272727;
    font-family: 'Lexend';
    
    
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    

    color: #d4d4d4;
    background-color: #404258 ;
    height: 5%;
    word-spacing: 30px;
    padding: 10px 16px;
}

.header-content {
    margin-left: 1%;
    justify-content: flex-start;
}


.header-left{ 
    margin: inherit;
    border: inherit;
    padding: inherit;
    flex: inherit;
    justify-content: inherit;

    display: flex;
    
    align-items: center;
    margin-left: 10px;

}

.header-right {
    margin: inherit;
    border: inherit;
    padding: inherit;
    flex: inherit;
    justify-content: inherit;
    

    display: flex;
    
    align-items: center;
    

}





/*
#404258     DARK
#474E68     LESS DARKER
#50577A     LIGHT DARK
#6B728E     LIGHT 
*/





.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.sticky + .content {
    padding-top: 102px;
}










