


body {
    margin: 0px;
    padding: 0px;
    background-color: #ececec;
    color: #272727;
    font-family: 'Lexend';
    
}

.header {
    background-color: #404258 ;

}

/*
#404258     DARK
#474E68     LESS DARKER
#50577A     LIGHT DARK
#6B728E     LIGHT 
*/

.navbar-buttons {
    list-style-type: disc;
    list-style: none;
    text-align: right;
    margin-right: 10%;
    word-spacing: 30px;
}

.header-button {
    font-weight: inherit;
    font-family: inherit;
    padding: 20px 30px;
    background-color: #404258 ;
    color: rgb(255, 255, 255);
    box-shadow: none;
    border: 0px solid #404258;
    letter-spacing: 2px;
}
.header-button:hover span {
    display:none
}
.header-button:hover:before {
    font-size: 1.5px;
}

.header-button:hover {
    background-color: #474E68 ;
    color: #d4d4d4;
    box-shadow: none;
}


.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.sticky + .content {
    padding-top: 102px;
}










